
h1.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color:white;
    text-align: center;
}

p.link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}

body{
    background-color: black;
    text-align: center;
}

h2.middleText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

p.smallText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    text-align: center;
}

p.smallText2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    text-align: right;
}

section.tentimage{
    max-width: 1px;
}