
h1.title{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color:white;
    text-align: center;
}

p.link{
    color: aquamarine;
    font-size: 16px;
}

body{
    background-color: black;
    text-align: center;
}

h2.middleText{
    font-family: Verdana;
    color:white;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

p.smallText{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    text-align: center;
}